*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.container-80{
    padding:10%;
    width:80%;
    margin:auto;
    justify-content: center;
}
#app{
    width:100%;
    /* height:100%; */
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.pad-t-0{
    padding-top: 0;
}
.pad-b-0{
    padding-bottom: 0;
}
button{
    margin: 10px 0  40px 0;
    padding: 10px;
    border-radius: 7px;
}
button:hover{
    background-color: red;
    color:white;
    
}
.cerchio-verde{
    width:20px;
    height: 20px;
    border-radius: 50%;
    border:5px solid green;
}
.cerchio-verde-pieno{
    width:20px;
    height: 20px;
    border-radius: 50%;
    border:10px solid green;
}
.cerchio-blu{
    width:15px;
    height: 15px;
    border-radius: 50%;
    border:3px solid blue;
}
.cerchio-aran{
    width:10px;
    height: 10px;
    border-radius: 50%;
    border:5px solid orange;
}
.cerchio-aran-pieno{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border:5px solid orange;
}
.cerchio-viola{
    width:20px;
    height: 20px;
    border-radius: 50%;
    border:5px solid purple;
}
.cerchio-viola-pieno{
    width:16px;
    height: 16px;
    border-radius: 50%;
    border:8px solid purple;
}



