header{
    width:100%;
    background-color: #1F1F52;
    /* display: flex; */
    /* Jumbotron */
    .header-title{
        margin-top: 35px ;
        color:white;
        text-align: center;
        h1{
        
        }
        p{
            padding:15px;
        }
        button{
            margin: 10px;
            padding: 10px;
            border-radius: 7px;
            background-color: #20AD96;
        }
    }
}

/* Navbar */
nav{
    background-color: #1F1F52;
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    img{
        width:150px;
    }
    /* PARTE NAV CON I LINK */
    .right-nav{
        ul{
            display: flex;
           
            li{
                list-style: none;
                margin:5px;
                
                a{
                    margin-right: 10px;
                    text-decoration: none;
                    color:white;
                }
            }
        }
        /* Searchbar */
        .cerca{
            height: 35px;
            border: none;
            background-color: white;
            border-radius: 5px;
            display: flex;
            input{
                border: none;
                padding: 5px;
                border-radius: 5px;
                justify-content: center;
            }
            i{
                /* justify-content: center; */
                margin-top: 10px;
                color:$dodgerBlue;
                margin-right: 5px;
            }
            
        }
    }
}
