main{
    background-image: url("../../dist/img/background-pattern-grid-line.png");
    /* background-color: red; */
    background-position: center;
    background-repeat:repeat ;
    z-index: 2;
    position: relative;
    top:115px;
    height:1400px;
    background-color: #ffffff;
    width:100%;
    margin:auto;
    
    .main-title{
        .cerchio-blu{
            position:relative;
            left:-110px;
            bottom:190px;
        }
        .cerchio-aran{
            position:relative;
            left:-135px;
            bottom:55px;
        }
        .cerchio-aran-pieno{
            position:relative;
            left:195px;
            
        }
        .cerchio-verde-pieno{
            position:relative;
            left:500px;
            bottom:30px;
        }
        .cerchio-viola{
            position:relative;
            left:120px;
            top:225px;
        }
        .cerchio-viola-pieno{
            position:relative;
            left:625px;
            top:-10px;
        }
        padding:30px;
        text-align: center;
        width:33%;
        background-position: center;
        margin: auto;
        h2{
            text-align: center;
            justify-content: center;
            margin-bottom:20px;
            margin-top: 110px;
        }
    }
    .card{
        margin:10px;
    }
    .d-flex{
        .card{
            padding: 60px 40px;
            h3{
                font-weight: 900;
                font-size: 35px;
                color:$jungleGreen;
                text-align: center;
            }
            span{
                font-weight: 700;
                color:$doveGray;
            }
        }
    }
    /* MAIN CARD SECTION  */
    .left-card{
        margin-right: 10px;
        .left-top-card, .left-bottom-card{
            margin:10px;
            padding:10px;
            float:left;
            box-shadow: 0 0 20px 0 #a39f9f98;
            border-radius: 3px;
            img{
                width:175px;
            }
        }
        width:20%;
    }
    .left-card img{
        padding:10px;
        width:175px;
    }
    /* Central card */
    .central-card{
        width:20%;
        margin-top:30px;
        .central-top-card, .central-bottom-card{
        margin:20px 10px;
        padding:10px;
        box-shadow: 0 0 20px 0 #a39f9f98;
        border-radius: 3px;
        
        }
        
            img{
                width:175px;
            }
    }
    /* RIGHT CARD */
    .right-card{
        margin-top:100px;
        margin-left: 100px;
        padding:20px;
        width:50%;
        height: 400px;
        button{
            background-color: $jungleGreen;
        }
        span{
            padding:10px;
            color:$doveGray
        }
        h2{
            span{
                color:$jungleGreen
            }
            font-size: 50px;
            margin:20px 0;
            padding:10px 40px 0 0;
            font-weight: 700;
        }
        
        
        
        ul li {
            i{
                color: $jungleGreen;
            }
           list-style: none;
           padding: 10px 0;
        }
    }
    /* /card Section  */
    /* Azure sect */
    .azure-section{
        height:700px;
        margin-top: 40px;
        background-color: #f5f7fa;
        .feature-title{
            padding: 35px;
            text-align: center;
           
            span{
                color:$doveGray;
                font-size: 14px;
            }
            h2{
                margin-top: 10px;
                font-size: 40px;
                color:$rhino;
                span{
                    color:$jungleGreen;
                    font-size: 40px;
                }
            }
        }
        /* CARDS */
        .feature-card{
            margin:20px; 
            padding-top: 20px;
            .feature-text{
                h4{
                    color:$jungleGreen
                }
                padding:16px;
                p{
                    margin-top: 10px;
                }
                p:nth-of-type(1){
                    color:$rhino
                }
                p:nth-of-type(2){
                    color:$doveGray
                }
            }
        }
       
        /* IMG DELLE CARD */
        .feature-img{
            
            width:110px;
            height: 110px;
            img{
                border-radius: 60%;
                width:110px;
                height: 110px; 
            }
        }
       /*  .img-button{
            background-image: url("../../dist/img/");
        } */
        /* BOTTONE SEZIONE FEATURE */
        .feature-button{
            padding-bottom: 20px;
            position: relative;
            width:100%;
            button{
                position: absolute;
                left:50%;
                transform: translate(-50%);
                background-color: #20AD96;
            }
        }
    }
    /* SEZIONE SPONSOR */
    .sponsor-section{
        padding-bottom: 50px;
        position: relative;
        h2{
            font-size: 35px;
            span{
                color: $jungleGreen ;
            }
            text-align: center;
            padding:40px;
        }
        .sponsor-img:nth-child(1){
            z-index:1 ;
        }
        .sponsor-img img:nth-child(2){
            position: absolute;
            width:100px;
            right:61%;
            top: 43%;
            z-index: 12;
        }
        .sponsor-img img{
            width:150px;
            border-radius: 50%;
            /*  */
            
        }
        .sponsor-text{
            width:50%;
            padding-left:70px;
           
            p{
                font-size: 22px;
                padding-top: 10px;
                color:$rhino;

            }
            p:nth-child(2){
                font-size: 14px;
            }
            p:nth-child(3){
                font-size: 14px;
                color:$doveGray
            }
        }
        .sponsors{
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            .sponsor-logo{
                img{
                    padding:20px;
                }
            }
            
        }
    }
    .artist-section{
        background-color: $hintOfRed;
        text-align: center;
        .artist-title{
            padding:20px 0;
            span{
                padding:5px;
                color:$doveGray;
            }
            h2{
               
                color: $rhino;
                padding:10px;
                span{
                    color:$jungleGreen
                }
            }
        }
        .artist-blog{
            justify-content: center;
            .artist-card{
                margin:10px;
                padding: 30px;
                h4{
                    margin:10px;
                }
                p{
                    color:$doveGray
                }
            }
            img{
                width:250px;
            }
        }
    }
    /* SEZIONE HELP */
    .help-section{
        height: 785px;
        background: linear-gradient(180deg, #FFFFFF 0%, #EEF1F4 100%);
        .help-title{
            padding: 20px 0;
            text-align: center;
            span{
                color:$doveGray;

                font-size: 14px;
            }
            h2{
                font-size:30px;
                color:$rhino;
                padding:20px, 0;
                span{
                    font-size:30px;
                    color:$jungleGreen;
                }
            }
        }
        .help-card{
            padding:20px;
            width:33%;
            h4{
                margin:15px 0;
            }
            i{
                font-size: 40px;
                
            }
            span{
                color:$shadyLady;
            }
            p{
                color:$doveGray;
            }
            a{
                color:$rhino;
            }
        }
        .help-jumbo{
            margin-top:100px;
        }
    }
    .footer-title{
        margin-top: 90px;
        .cerchio-verde{
            position: absolute;
            left:550px;
        }
        .cerchio-blu{
            position:relative;
            left:-110px;
            bottom:120px;
        }
        .cerchio-aran{
            position:relative;
            left:1425px;
            bottom: 150px;
        }
        .cerchio-aran-pieno{
            position:relative;
            left:295px;
            bottom:295px;
            
        }
        .cerchio-verde-pieno{
            position:relative;
            left:1190px;
            bottom:30px;
        }
        .cerchio-viola{
            position:relative;
            right:120px;
            top:225px;
        }
        .cerchio-viola-pieno{
            position:relative;
            left:625px;
            top:-10px;
        }
        h5{
            font-size: 22px;
            color:$rhino;
            span{
                color:$jungleGreen;
            }
        }
        h3{
            margin: 15px;
            font-weight: 800;
            font-size: 32px;
        }
        button{
            background-color: #20AD96;
        }
    }
    .footer{
        
       /*  position: relative; */
        background-color: #f8f8f8;
        

        .footer-cards{
            justify-content: space-between;
            .footer-left, .footer-right{
                width:50%;
                
            }
            .footer-card{
                /* width:50%; */
                flex-wrap: wrap;
                a{
                    color:$rhino;
                    text-decoration: none;
                    margin: 25px 0;
                }
                padding:20px;
                font-size: 14px;
               
                p{
                    margin:5px;
                }
            }
        }
        .freccia-su{
            width:50px;
            height: 50px;
            border-radius: 50%;
            background-color: $jungleGreen;
            position: fixed;
            bottom:40px;
            left: 95%;
            text-align: center;
            line-height: 50px;
            color:white;
        }
    }
    
} 
   
  
    