/* Color Cube */
$portGore: #1F2154;
$silver: #BCBCBC;
$mountainMeadow: #1FAD96;
$texasRose:#febc4d;
$doveGray:#6c6c6c ;
$mandy:#e25a6d ;
$royalBlue:#7355e7 ;
$thunderbird:#cc1b17 ;
$dodgerBlue: #1F9EFB ;

/* Median cut */
$rhino: #293259 ;
$hintOfRed: #f6f3f6;
$coralTree: #a65e6d ;
$grayChateau: #9da9aa;
$anzac: #E2A957;

/* Material design */
$blueMarguerite: #6a5ad0;
$shadyLady: #9b999b;
$jungleGreen: #27ab94;
$corduray: #616865;
$ronchi: #efb056;